html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}
body {
  box-sizing: border-box;
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  border: none;
}
.elements-nav {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: 0px 3px 5px #161616;
  -moz-box-shadow: 0px 3px 5px #161616;
  -webkit-box-shadow: 0px 3px 5px #161616;
}
body {
  font-family: sans-serif, 'Segoe UI', Tahoma, Verdana;
}
header {
  background: linear-gradient(150deg, #000957 30%, #344CB7 60%);
  color: #fff;
  padding: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
}
header h1 {
  font-size: 3.5em;
  font-weight: bold;
  text-align: right;
  line-height: 70px;
}
header h2 {
  font-size: 1.1em;
  grid-column-start: 2;
  text-align: right;
  line-height: 70px;
}
header nav {
  grid-column-start: 2;
  justify-self: flex-end;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  display: block;
  margin-left: 35px;
}
header nav ul li:nth-child(1) {
  background-color: #000957;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: 0px 3px 5px #161616;
  -moz-box-shadow: 0px 3px 5px #161616;
  -webkit-box-shadow: 0px 3px 5px #161616;
}
header nav ul li:nth-child(2) {
  background-color: #577BC1;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: 0px 3px 5px #161616;
  -moz-box-shadow: 0px 3px 5px #161616;
  -webkit-box-shadow: 0px 3px 5px #161616;
}
header nav ul li:nth-child(3) {
  background-color: #EBE645;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: 0px 3px 5px #161616;
  -moz-box-shadow: 0px 3px 5px #161616;
  -webkit-box-shadow: 0px 3px 5px #161616;
}
header nav ul li:nth-child(3) a {
  color: #000;
}
header nav ul li:nth-child(4) {
  background-color: #511281;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: 0px 3px 5px #161616;
  -moz-box-shadow: 0px 3px 5px #161616;
  -webkit-box-shadow: 0px 3px 5px #161616;
}
header nav ul li a {
  display: inline-block;
  text-align: center;
  width: 42px;
  padding: 12px 0;
  color: #fff;
}
header #form-country {
  padding: 10px;
  align-self: center;
}
header #form-country p {
  padding-bottom: 15px;
}
header #form-country span {
  padding: 9px 2px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #fff;
}
header #form-country span input {
  border: none;
  margin-left: 18px;
}
header #form-country span input :focus {
  border: none;
  outline: none;
}
header #form-country span button {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #EBE645;
  border: none;
  padding: 9px;
  color: #fff;
}
header #container-breweries {
  position: relative;
}
header #container-breweries #breweries {
  position: absolute;
  top: -60px;
}
header #container-breweries #breweries .number-breweries {
  background-color: #fff;
  color: #000957;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  display: inline-block;
  max-width: 200px;
  height: 140px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 3px 5px #161616;
  -moz-box-shadow: 0px 3px 5px #161616;
  -webkit-box-shadow: 0px 3px 5px #161616;
}
header #container-breweries #breweries .number-breweries:nth-child(2),
header #container-breweries #breweries .number-breweries:nth-child(3) {
  margin-left: 40px;
}
header #container-breweries #breweries .number-breweries p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header #container-breweries #breweries .number-breweries p span {
  color: #577BC1;
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 15px;
}
header #container-breweries #breweries .number-breweries p:nth-child(2) {
  color: #577BC1;
}
header #container-breweries #breweries .number-breweries p:nth-child(2) span {
  color: #000957;
}
#container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2%;
}
#container #info-breweries {
  align-self: flex-start;
  display: inline-block;
  padding: 20px;
  margin-top: 10vh;
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 3px 5px #161616;
  -moz-box-shadow: 0px 3px 5px #161616;
  -webkit-box-shadow: 0px 3px 5px #161616;
}
#container #info-breweries thead {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}
#container #info-breweries tr {
  line-height: 2.5em;
}
#container #info-breweries tr td {
  font-size: 0.8em;
  color: #000;
}
#container #info-breweries tr td a {
  color: #000;
  text-decoration: none;
}
#container #info-breweries tr td a:hover {
  text-decoration: underline;
}
#container #info-breweries tr th,
#container #info-breweries tr td {
  width: 11em;
}
#container #map {
  height: 60vh;
  width: 40vw;
  margin-left: 5%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#container .marker {
  font-size: 2.5em;
  color: #D33F27;
}
