* {
	font-family: Montserrat;
	font-style: normal;
	margin: 0;
	padding: 0;
}

header {

	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: end;
	align-content: flex-start;
	height: 40vh;
	background: linear-gradient(106.22deg, #000957 38.73%, #344CB7 66.81%);
	color: white;

	> * {
		width: 50%;
	}

	h1, > p {
		text-align: end;
	}
}