// Importation du fichier de reset
@import 'reset.less';

// Variables
@darkBlue: #000957;
@mediumBlue: #344CB7;
@lightBlue: #577BC1;
@yellow: #EBE645;
@purple: #511281;
@white: #fff;
@black: #000;
@orangeRed: #D33F27;

/**
*
* Liste des fonctions
*
**/

// Fonction box-shadow => permet de rendre compatible la méthode avec les anciennes version des navigateurs
.box-shadow(@x: 0, @y: 0, @blur: 1px, @color: #000) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
}

// Fonction border-radius => permet de rendre compatible la méthode avec les anciennes version des navigateurs
.border-radius(@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

// Permet de personnaliser les éléments du menu (header)
.elements-nav {
    .border-radius(7px);
    .box-shadow(0px, 3px, 5px, #161616);
}

body {
    font-family: sans-serif, 'Segoe UI', Tahoma, Verdana
}

header {
    background: linear-gradient(150deg, @darkBlue 30%, @mediumBlue 60%);
    color: @white;
    padding: 30px;
    display: grid;
    grid-template-columns: 50% 50%;

    h1 {
        font-size: 3.5em;
        font-weight: bold;
        text-align: right;
        line-height: 70px;
    }

    h2 {
        font-size: 1.1em;
        grid-column-start: 2;
        text-align: right;
        line-height: 70px;
    }

    nav {
        grid-column-start: 2;
        justify-self: flex-end;

        ul {
            display: flex;
            list-style: none;

            li {
                display: block;
                margin-left: 35px;

                &:nth-child(1) {
                    background-color: @darkBlue;
                    .elements-nav;
                }

                &:nth-child(2) {
                    background-color: @lightBlue;
                    .elements-nav;
                }

                &:nth-child(3) {
                    background-color: @yellow;
                    .elements-nav;

                    a {
                        color: @black;
                    }
                }

                &:nth-child(4) {
                    background-color: @purple;
                    .elements-nav;
                }

                a {
                    display: inline-block;
                    text-align: center;
                    width: 42px;
                    padding: 12px 0;
                    color: @white;
                }
            }
        }
    }

    #form-country {
        padding: 10px;
        align-self: center;

        p {
            padding-bottom: 15px;
        }

        span {
            padding: 9px 2px;
            .border-radius(20px);
            background-color: @white;

            input {
                border: none;
                margin-left: 18px;

                :focus {
                    border: none;
                    outline: none;
                }
            }

            button {
                .border-radius(20px);
                background-color: @yellow;
                border: none;
                padding: 9px;
                color: @white;
            }
        }
    }

    #container-breweries {
        position: relative;

        #breweries {
            position: absolute;
            top: -60px;

            .number-breweries {
                background-color: @white;
                color: @darkBlue;
                font-size: 1.8em;
                font-weight: bold;
                text-align: center;
                padding: 15px;
                display: inline-block;
                max-width: 200px;
                height: 140px;
                .border-radius(10px);
                .box-shadow(0px, 3px, 5px, #161616);

                &:nth-child(2),
                &:nth-child(3) {
                    margin-left: 40px;
                }

                p {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    span {
                        color: @lightBlue;
                        font-size: 2.5em;
                        font-weight: bold;
                        padding-bottom: 15px;
                    }

                    &:nth-child(2) {
                        color: @lightBlue;

                        span {
                            color: @darkBlue;
                        }
                    }
                }
            }
        }
    }
}

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2%;

    #info-breweries {
        align-self: flex-start;
        display: inline-block;
        padding: 20px;
        margin-top: 10vh;
        background-color: @white;
        .border-radius(10px);
        .box-shadow(0px, 3px, 5px, #161616);

        thead {
            text-align: left;
            font-size: 1.2em;
            font-weight: bold;
        }

        tr {
            line-height: 2.5em;

            td {
                font-size: 0.8em;
                color: #000;

                a {
                    color: #000;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            th,
            td {
                width: 11em;
            }
        }
    }

    #map {
        height: 60vh;
        width: 40vw;
        margin-left: 5%;
        .border-radius(10px);
    }

    .marker {
        font-size: 2.5em;
        color: @orangeRed;
    }
}